<%- include('partials/head') %>

    <body>

        <%- include('partials/navbar') %>
            <h1>The Home Page <%= 'hello world' .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci est soluta saepe inventore! Ut nostrum
                soluta
                minus quam quia fugiat illum quas explicabo fugit maiores vel obcaecati, quibusdam facere doloribus!
                Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Placeat, eum! Consequuntur quibusdam laboriosam
                quasi!
                Vitae
                fugit aliquam quidem eligendi itaque corporis commodi tempora aspernatur nisi ut beatae, saepe in
                laborum!
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur inventore numquam ut omnis tempora
                facere
                repudiandae laboriosam delectus, in minima optio fugit earum ex odio blanditiis, facilis, a asperiores
                dolorem.
            </p>
    </body>

    </html>